.contenedor{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lavender;
}
.formulario{
    color: lightgrey;
    border-radius: 0.25em;
    padding: 1em;
}
.submit {
    padding: 10px;
    background-color: darkmagenta;
    color: white;
    font-size: 20px;
    border-radius: 0.25em;
    border: none;
}
.submit:hover  {
    background-color: orchid;
    color: rgb(255, 254, 254);
    transition: 0.25s all;
    border: none;
}