.footer {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
}
.isologo {
    margin-top: 0.4em;
    justify-content: end;
    width: 10em;
}
.reservar{
    display: flex;
    font-weight: 600;
    font-size: 2em;
}
.firma {
    font-size: small;
}
.enlaces{
    color: blue;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}
@media screen and  (max-width: 768px){
    .enlaces{
        flex-direction: column;
        justify-content: left;
    }
}