.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lavender;
    padding-block: 1em;
    text-align: center;
}
.formRegistro {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 2em;
}
.input {
    padding: 10px 3px;
    border-radius: 0.25em;
    border: none;
}
.submit {
    padding: 10px;
    background-color: darkmagenta;
    color: white;
    font-size: 20px;
    border-radius: 0.25em;
    border: none;
}
.submit:hover  {
    background-color: orchid;
    color: rgb(255, 254, 254);
    transition: 0.25s all;
    border: none;
}

@media screen and (max-width: 768px){
    .formRegistro {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}